<!-- Adding a Layout template  -->
{% extends 'layout.html' %}
{% block content %} 
    <!-- Call to Action Section -->
    <section id="cta">
        <h2>Find Your Dream Remote Job Today</h2>
        <a href="mailto:contact@example.com?subject=Contact%20Us&body=Please%20enter%20your%20message%20here." class="btn">Contact Us</a>
    </section>

    <!-- Language Section -->
    <!-- <section id="language">
        <button id="english">English</button>
        <button id="spanish">Español</button>
    </section> -->
{% endblock content %}