{% extends 'layout.html' %}
{% block content %} 
    <div class="content-section-account">
        <div class="media mx-auto">
        <img class="rounded-circle account-img" src="{{ image_file }}" width="150" height="150">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary"> {{ current_user.email }}</p>
        </div>
        </div>
        <div class="content-section-update">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-3 mt-3">Update Information</legend>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.name.label.text }}</label>
                            <!-- Handling errors on form via Bootstrap -->
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.name(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.surname.label.text }}</label>
                            {% if form.surname.errors %}
                                {{ form.surname(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.surname.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.surname(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                    </div>
                    <div class ="row">     
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.location.label.text }}</label>
                            {% if form.location.errors %}
                                {{ form.location(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.location(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.phone.label.text }}</label>
                            {% if form.phone.errors %}
                                {{ form.phone(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.phone(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                    </div>    
                    <div class="row"> 
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.linkedin.label.text }}</label>
                            {% if form.linkedin.errors %}
                                {{ form.linkedin(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.linkedin(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.profession.label.text }}</label>
                            {% if form.profession.errors %}
                                {{ form.profession(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.profession(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                    </div>    
                    <div class="row"> 
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.education.label.text }}</label>
                            {% if form.education.errors %}
                                {{ form.education(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.education(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-control-label">{{ form.github_account.label.text }}</label>
                            {% if form.github_account.errors %}
                                {{ form.github_account(class="form-control form-control-lg flex-column is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors%} 
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>    
                            {% else %}
                                {{ form.github_account(class="form-control form-control-lg flex-column") }}    
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        {{ form.cv.label() }} <br>
                        {{ form.cv(class="form-control-file mt-2") }}
                        {% if form.cv.errors %}
                            {% for error in form.cv.errors%} 
                            <span class="text-danger"> {{ error }} </span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <!-- Button with top margin -->
                <div class="form-group mt-3 d-flex justify-content-end">
                    {{ form.submit(class="btn btn-outline-info mt-1 me-auto") }}
                    <a href="{{ url_for('delete_account') }}" class="btn btn-danger mt-1">Delete Account</a>
                </div>
                

        </div>
    </div>
    </div>
      
      
{% endblock content %}
