<!-- Adding a Layout template  -->
{% extends 'layout.html' %}
{% block content %}
    <h2 style="margin-top: 20px; text-align: center;">JOBS Dashboard</h2>
    </section>
    <div class="content-section">
        <form method="POST" action="">
            <!-- CSRF Token Validation -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3 mt-3"> Create New Job</legend>
            <div class="form-group mb-2" style="font-weight: bolder;">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg flex-column is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors%} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.title(class="form-control form-control-lg flex-column") }}    
                {% endif %}
            </div>
            <div class="form-group mb-2" style="font-weight: bolder;">
                {{ form.location.label(class="form-control-label") }}
                {% if form.location.errors %}
                    {{ form.location(class="form-control form-control-lg flex-column is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.location.errors%} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.location(class="form-control form-control-lg flex-column") }}    
                {% endif %}
            </div>
            <div class="form-group mb-2" style="font-weight: bolder;">
                {{ form.salary.label(class="form-control-label") }}
                {% if form.salary.errors %}
                    {{ form.salary(class="form-control form-control-lg flex-column is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.salary.errors%} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.salary(class="form-control form-control-lg flex-column") }}    
                {% endif %}
            </div>
            <div class="form-group mb-2" style="font-weight: bolder;">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg flex-column is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors%} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.description(class="form-control form-control-lg flex-column") }}    
                {% endif %}
            </div>
            <div class="form-group mb-2" style="font-weight: bolder;">
                {{ form.requirements.label(class="form-control-label") }}
                {% if form.requirements.errors %}
                    {{ form.requirements(class="form-control form-control-lg flex-column is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.requirements.errors%} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.requirements(class="form-control form-control-lg flex-column") }}    
                {% endif %}
            </div>
            <div class="form-group mb-2" style="font-weight: bolder;">
                {{ form.qualifications.label(class="form-control-label") }}
                {% if form.qualifications.errors %}
                    {{ form.qualifications(class="form-control form-control-lg flex-column is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.qualifications.errors%} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.qualifications(class="form-control form-control-lg flex-column") }}    
                {% endif %}
            </div>
            <div class="form-group mb-2" style="font-weight: bolder;">
                {{ form.company_id.label(class="form-control-label") }}
                {% if form.company_id.errors %}
                    {{ form.company_id(class="form-control form-control-lg flex-column is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.company_id.errors%} 
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>    
                {% else %}
                    {{ form.company_id(class="form-control form-control-lg flex-column") }}    
                {% endif %}
            </div>
            <!-- Button with top margin -->
            <div class="form-group mb-2">
                {{ form.submit(class="btn btn-outline-info mt-3") }}
            </div>      
    </div>    
    </section>    
{% endblock content %}