<!-- Adding a Layout template  -->
{% extends 'layout.html' %}
{% block content %}
        <h2 style="margin-top: 60px; text-align: center; font-size: 52px;">Admin Dashboard</h2>
        <div class="container" style="text-align: center; margin-top: 150px;">
            <div class="row">
              <div class="col-md-4">
                <a href="{{ url_for('admin_post') }}" class="btn btn-primary btn-block btn-custom mb-3">Blog</a>
              </div>
              <div class="col-md-4">
                <a href="{{ url_for('admin_job') }}" class="btn btn-primary btn-block btn-custom mb-3">Jobs</a>
              </div>
              <div class="col-md-4">
                <a href="{{ url_for('admin_company') }}" class="btn btn-primary btn-block btn-custom mb-3">Company</a>
              </div>
            </div>
          </div>
          <div class="row">  
              <div class="col-md-4" style="font-size: 22px ; font-weight: bold; margin-top: 40px; padding-left: 140px;"> 
                    <a href="{{ url_for('admin_post') }}"> <ol> Create Post </ol></a> 
              </div>
              <div class="col-md-4" style="font-size: 22px ; font-weight: bold; margin-top: 40px; padding-left: 140px;"> 
                <a href="{{ url_for('admin_job') }}"> <ol> Create Job </ol></a> 
              </div>
              <div class="col-md-4" style="font-size: 22px ; font-weight: bold; margin-top: 40px; padding-left: 110px;"> 
                <a href="{{ url_for('admin_company') }}"> <ol> Create Company </ol></a> 
                <ol>Edit Company</ol>
                <ol>Delete Company</ol>
              </div>
          </div>
        
{% endblock content %}