<!-- Adding a Layout template  -->
{% extends 'layout.html' %}
{% block content %}
        <h2 style="margin-top: 60px; text-align: center; font-size: 52px;">Admin Dashboard</h2>
        <div class="container" style="text-align: center; margin-top: 150px;">
            <div class="row">
              <div class="col-md-3">
                <a href="{{ url_for('blog') }}" class="btn btn-primary btn-block btn-custom mb-3">Blog</a>
              </div>
              <div class="col-md-3">
                <a href="{{ url_for('candidates') }}" class="btn btn-primary btn-block btn-custom mb-3">Jobs</a>
              </div>
              <div class="col-md-3">
                <a href="{{ url_for('view_companies') }}" class="btn btn-primary btn-block btn-custom mb-3">Companies</a>
              </div>
              <div class="col-md-3">
                <a href="{{ url_for('admin_appl') }}" class="btn btn-warning btn-block btn-custom mb-3">Applications</a>
              </div>
            </div>
          </div>
          <div class="row">  
              <div class="col-md-3" style="font-size: 22px ; font-weight: bold; margin-top: 40px; padding-left: 90px;"> 
                    <a href="{{ url_for('admin_post') }}"> <ol> Create Post </ol></a> 
              </div>
              <div class="col-md-3" style="font-size: 22px ; font-weight: bold; margin-top: 40px; padding-left: 80px;"> 
                <a href="{{ url_for('admin_job') }}"> <ol> Create Job </ol></a> 
              </div>
              <div class="col-md-3" style="font-size: 22px ; font-weight: bold; margin-top: 40px; padding-left: 50px;"> 
                <a href="{{ url_for('admin_company') }}"> <ol> Create Company </ol></a> 
              </div>
          </div>
        
{% endblock content %}