{% extends 'layout.html' %}

{% block content %} 
    <section id="carousel">
        <h2> Open Positions</h2>
        <div id="slides">
            <a href="{{ url_for('static', filename='1.jpg') }}">
                <img src="{{ url_for('static', filename='1.jpg') }}" alt="Job description 1">
            </a>
            <a href="{{ url_for('static', filename='2.jpg') }}">
                <img src="{{ url_for('static', filename='2.jpg') }}" alt="Job description 2">
            </a>
            <a href="{{ url_for('static', filename='3.jpg') }}">
                <img src="{{ url_for('static', filename='3.jpg') }}" alt="Job description 3">
            </a>
        </div>
        <div class="body-text" style="text-align: left;">
            <h2> Apply now </h2>
            {% if jobs %}
                {% for job in jobs %}  
                    <div class="row border-bottom" style="margin-top: 4px;">
                        <div class="col-10">
                            <h4 style="color: rgb(120,120,120); margin-top: 8px; margin-bottom: 2px">{{ job.title }}</h4>
                            <div><b>Location: </b>{{ job.location }}</div>
                            <div style="margin-bottom: 16px;"><b>Salary: </b>{{ job.salary }}</div>
                        </div>
                        <div class="col-2">
                            {% if user.role == 'admin' %}
                                <a href="{{ url_for('update_job', job_id=job.id) }}" type="button" class="btn btn-outline-primary mt-4 float-right">Edit</a>
                                <a href="{{ url_for('delete_job', job_id=job.id) }}" type="button" class="btn btn-outline-danger mt-4 float-right">Delete</a>
                            {% else %}
                                <a href="{{ url_for('apply', job_id=job.id) }}"" type="button" class="btn btn-outline-primary mt-4 float-right">Apply</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}  
            {% else %}
                <p>No jobs available</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
