<!-- Adding a Layout template  -->
{% extends 'layout.html' %}
{% block content %} 
<section id="employers">
    <h2>Find the right remote worker for your team</h2>
    <p>We specialize in connecting employers with remote-friendly candidates</p>
    <p>Our recruitment team utilizes cutting-edge data analytics tools to uncover hidden talent gems in South America, <br> delivering top-notch candidates to our clients worldwide</p>
    <div style="display: flex; justify-content: center; margin-top: 20px;"></div>
        <a href="#" class="btn-call">Schedule a call</a>
    </div>
</section>
{% endblock %}