{% extends 'layout.html' %}

{% block content %}
    <div class="blog">
        <h2 class="blog-title mt-5">Solutrip Talent Blog</h2>
        <div class="blog-post mt-5" style="display: flex; align-items: center;">
            <h3 class="post-title" style="margin-left: 10px; font-size: 40px;"> {{ post.title }}</h3>
            <img src="{{ url_for('static', filename='solu.png') }}" alt="My image" class="img-fluid rounded" style="height: 160px; margin-left: auto;">
        </div>
        <div class="post-info">
            <span class="post-author mt-1">By {{ post.author.username }}</span>
            <span class="post-date mt-1">{{ post.date_posted.strftime('%A, %B %d, %Y') }}</span>
        </div>
        <div class="post-content mt-5">{{ post.content }}</div>
    </div>
{% endblock content %}